.Flex2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.instanceContainer {
    display: inline-block;
}
    .BonusMenu {
        position: absolute;
        margin: 24px;
        padding: 24px;
        z-index: 900;
    }

    .Map {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }